{% extends "base.html" %}

{% block title %}{{ section_title }}{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
	    <h1>Welcome to HealthNet!</h1>
	    <p>Please either register a new admin or import a previous
	    installation's data.</p>
            <h2>Register A New Admin</h2>
            {% if register_error %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ register_error }}</p>
                </div>
            {% endif %}
            <form method="post" action="{% url here %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="text" class="form-control" name="email"/>
                </div>

                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control" name="password"/>
                </div>

                <div class="form-group">
                    <label for="first-name">First Name *</label>
                    <input type="text" class="form-control" name="first_name"/>
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name *</label>
                    <input type="text" class="form-control" name="last_name"/>
                </div>

                <button type="submit" class="btn btn-default">Register</button>
                {% if here != 'register_admin_begin' %}
                    <a href="{% url 'dashboard' %}" role="button" class="btn btn-danger">Cancel</a>
                {% endif %}
            </form>
            <p style="color:red">*: required</p>

	    <h2>Import Data</h2>
	    <form method="post" action="{% url 'jimport' %}" enctype="multipart/form-data">
		{% csrf_token %}

                <div class="form-group">
                    <label for="file">JSON</label>
                    <input type="file" class="form-control" name="file"/>
                </div>
		<button type="submit" class="btn btn-default">Upload</button>
        </div>
    </div>

{% endblock %}
