{% extends "base.html" %}

{% block title %}{{ section_title }}{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <h1>Request Transfer</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            <form method="post" action="{% url 'transfer_request' %}">
                {% csrf_token %}

                <div class="form-group">
		    <label for="dest">Transfer to: </label>
		    <select name="dest" class="form-control">
			{% for hptl in hospitals %}
			<option value="{{ hptl.pk }}">{{ hptl.name }}</option>
			{% endfor %}
		    </select>
                </div>

		<button type="submit" class="btn btn-default">Submit</button>
	    </form>
	</div>
    </div>
{% endblock %}
		
